<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>山森有幸</title>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> 
    <script src="./vender/vue.min.js"></script>
    <script src="./vender/jquery/jquery-3.5.1.min.js"></script>
    <!-- <script src="./js/main.js"></script> -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./pic/commom/1017_logo.png">
</head>
<body>
    <header >
        <div class="forphone">
        <button class="hamburger hamburger--spring" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        </div>
        <nav class="wrap">
            <div class="nav_logo">
                <a href="#" class="logo_link -bottom">
                    <img class="desk sun" src="./pic/commom/太陽.svg" alt="">
                </a>
                <a class="changelogo" href="./index.html">
                <img class="phone" src="./pic/commom/手機_header.svg">
                </a>
                <div class="middle_bg"></div>
                <a href="./index.html" class="logo_link -up">
                    <img class="desk" src="./pic/commom/電腦版_header.svg">
                </a>
            </div>
            <div class="nav_list">
                <ul >
                    <li><a class="nav_title" href="./group.html">揪團露營</a></li>
                    <li><a class="nav_title" href="./equipment.html">設備交換</a></li>
                    <li><a class="nav_title" href="./camping.html">營區攻略</a></li>
                    <li><a class="nav_title" href="./letter.html">來去寫信</a></li>
                    <li><a class="nav_title" href="./aboutus.html">關於我們</a></li>
                    <li><a class="nav_title" href="./member.html">登入|註冊</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="homepage_bgcolor">
        <!-- 物件-雲 -->
        <div class="cloud">
            <img src="./pic/index/1019_雲-01.svg">
        </div>
        <div class="cloud2">
            <img src="./pic/index/1019_雲-02.svg">
        </div>
        <div class="cloud3">
            <img src="./pic/index/1019_雲-01.svg">
        </div>
        <div class="homepage_bgpic">
            <!-- 首頁形象圖 -->
            <section class="home">
                <div class="wrap">
                </div>
            </section>
            <!-- 揪團 -->
            <section class="home_group">
                <div class="wrap">
                    <div class="content1">
                        揪團
                    </div>
                </div>
            </section>
            <!-- 設備交換 -->
            <section class="home_equipment">
                <div class="wrap">
                    <div class="content2">
                        設備
                    </div>
                </div>
            </section>
            <!-- 營區攻略 -->
            <section class="home_camping">
                <div class="wrap">
                    <div class="content3">
                        <div class="title home_camping_title">尋找營區</div>
                        <div class="home_map">
                            <div id="app"></div>
                            <div class="home_map_layout">
                                <div id="map" class="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 明信片 -->
            <section class="home_letter">
                <div class="wrap">
                        <div class="content1">
                            明信片
                        </div>
                </div>
            </section>
            <!-- 小遊戲 -->
            <section class="home_game ">
                <div class="wrap ">
                    <div class="game_table">
                        <div class="title game_title">
                            露營小知識
                        </div>
                        <div class="third_title game_title_word">
                            挑戰露營知識智慧王!答對一題即可獲得200分!
                        </div>                
                        <form action="#">
                            <div class="sub_title game_title_question01">
                                Q1:請問露營時遇到熊怎麼辦?
                            </div>
                            
                            <div class="game_button">
                                <button class="mainbtn2" id="game_button_answer01"> A:爬到樹上</button>
                            </div>
                            
                            <div class="game_button">
                                <button class="mainbtn2" id="game_button_answer01"> B:躺在地上裝死</button>
                            </div>
                            
                            <div class="game_button">
                                <button class="mainbtn2" id="game_button_answer01"> C:與熊搏鬥</button>
                            </div>
                        </form>
                    </div>
                        
        
                
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div class="footer_bgc">
            <div class="wrap">
                <div class="footerarrange">
                    <div class="footright">
                        <div class="level2 green1">聯絡資訊 |</div>
                        <div class="level0 green1">
                            電子信箱|ShanSen@gmail.com<br>
                            營業時間|週二至週日 10:00~20:00(國定假日休假)
                        </div>
                    </div>
                    <div class="footercenter">
                        <a href="#">
                            <img src="./pic/commom/電腦版_header.svg">
                        </a>
                    </div>
                    <div class="footerright">
                        <div class="link">
                            <div class="level2 green1">相關連結 |</div>
                            <div class="footer_icon">
                                <img src="./pic/commom/foot_line.svg" alt="">
                                <img src="./pic/commom/foot_ig.svg" alt="">
                                <img src="./pic/commom/foot_fb.svg" alt="">
                                <img src="./pic/commom/foot_email.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="level1 copyright">Copyright &copy; 2020ShanSen</div>
    </footer>

    <!-- 地圖 -->
    <script>
        var map;

        map =L.map('map', {
                center: [ 24.926455,121.526396], // 中心點座標
                zoom: 12, // 0 - 18
                attributionControl: true, // 是否秀出「leaflet」的貢獻標記
                zoomControl: true , // 是否秀出 - + 按鈕
                });
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);


        //建立地標
        var marker = L.marker([ 24.926455,121.526396]);
        marker.addTo(map);
        marker.bindPopup("<a href=''><img src='./pic/camping/北1-1.jpg'></a><br> <a href='camping2.html'>確幸莊園</a><br>目前開團:2組");
        

        //讀取 GeoJSON，加入行政區邊界
        // $.getJSON('https://1999.noob.tw/data/kaohsiung.json', function(r){
        //     L.geoJSON(r, {color: '#333', weight: 0.7}).addTo(map);
        // })
        function onlick(){
            $(marker).openPopup();
        }

    </script>
    <script src="https://unpkg.com/jquery"></script>
    <!-- 地區下拉選單 -->
    <script src="cities.js"></script>
    <script>
        Vue.component('Select', {
            props: ['value', 'options', 'label'],
            computed: {
            index: {
                get() {
                return this.value;
                },
                set(val) {
                this.$emit("input", val);
                }
            }
            },
            methods: {
            optionText(item) {    	
                if( this.label === 'text' ) {
                return item["text"];
                }
                else {
                return eval("item." + this.label);
                }
                
            }
            },
            template: 
            `  	
            <select v-model="index">    	
                <option v-for="(item, index) in options" :value="index">{{optionText(item)}}</option>
            </select>    	
            `
        });

        new Vue({
            el: "#app",
            data: {
            cityIndex: 0,
            areaIndex: 0,
            },
            watch: {
            areaIndex() {
                this.cityIndex = 0;
            }
            },
            computed: {
            areas() {
                return spots;
            },
            cities() {
                return spots[this.areaIndex].city;
            },

            },
            template: 
            `
            <div class="home_weather_layout">
                <!-- 地區搜尋 -->
                <div class="search_area">
                    <p>
                        <label class="third_title" for="">選擇地區:</label>
                        <Select v-model="areaIndex" :options="spots" label="area" ></Select>
                    </p>
                    <p>
                        <label class="third_title" for="">選擇營地:</label>
                        <Select v-model="cityIndex" :options="cities" label="text"></Select>
                    </p>
                    <!--<div>{{ this.areaIndex }} - {{ this.cityIndex }} </div>-->
                </div>
                    
                <!-- 溫度、降雨、濕度 -->
                <div class="infos">
                    <div class="NowT infosbox">
                        <p class="title">22oC</p>
                        <div class="TtoT">
                            <span id=MinT>19oC</span>~
                            <span id=MaxT>23oC</span>
                        </div>
                    </div>
                    <div class="PoP infosbox">
                        降雨機率
                        <p id="PoP">20%</p>
                    </div>
                    <div class="RH infosbox">
                        相對溼度
                        <p id="RH">78%</p>
                    </div>
                </div>
            </div>
            `,
        });
    </script>
</body>
</html>