.cloud{
    animation: move 28s linear infinite;
    position: fixed;
    top: 30vh;
    opacity: 0.9;
    // border: 1px solid red;
}
@keyframes move {
    0%{
        transform: translateX(-300px)
    }
    100%{
        transform: translateX(2200px)
    }
}

.cloud2{
    animation: move2 28s linear infinite;
    position: fixed;
    top: 20vh;
    opacity: 0.9;
    // border: 1px solid blue;
}
@keyframes move2 {
    0%{
        transform: translateX(-850px)
    }
    100%{
        transform: translateX(1700px)
    }
}
.cloud3{
    animation: move3 36s linear infinite;
    position: fixed;
    top: 26vh;
    opacity: 0.8;
    // border: 1px solid black;
}
@keyframes move3 {
    0%{
        transform: translateX(-2000px)
    }
    100%{
        transform: translateX(2400px)
    }
}

.homepage_bgcolor{
    width: 100%;
    height: 100%;
    background-color:$bgcColor;
    border: 1px solid red;
    z-index: 1;
    .homepage_bgpic{
        section{
            height: 750px;
        }
        .home{
        margin: 0 auto;
        border:1px solid red;
        background-image: url(../../pic/index/1020_首頁-11_頭.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;
        z-index: 7;
        }
    }
}
//揪團
.home_group{
    width: 100%;
    height: 650px;
    border: 1px solid green;
    .content1{
        border: 1px solid green;
        max-width: 900px;
        width: 100%;
        height: 650px;
        margin: 0 auto;
    }
}

//設備交換
.home_equipment{
    width: 100%;
    height: 650px;
    border: 1px solid green;
    .content2{
        border: 1px solid blue;
        height: 650px;
        margin: 50px auto 0;
        
    }
}



//營地搜尋
.home_camping{
    width: 100%;
    // height: 650px;
    .content3{
        padding: 0 10px;
        // height: 650px;
        margin: 100px auto 0;
        z-index: 7;
        position: relative;
        .home_camping_title{
            padding-left: 15%;
        }
        .home_map{
            margin: 0 auto;
            .home_weather_layout{
                // border: 3px solid purple;
                display: flex;
                justify-content: center;
                .search_area{
                    border-bottom: none;
                }
                .infos{
                    width: 50%;
                    border-bottom: none;
                    display: inline-flex;
                    justify-content: flex-start;
                    }
                    .PoP{
                        margin: 0 20px;
                    }
                }
        }
        .home_map_layout{
            margin: 0 auto;
            max-width: 1000px;
            width: 100%;
            height: 400px;
            .map{
                background: #333;
                display: block;
                max-width: 1000px;
                width: 100%;
                height: 400px;
                margin:0;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){

}
@media screen and (max-width: 767px){
    .home_camping{
        .content3{
            .home_map{
                display: block;
                .home_weather_layout{
                    display: block;
                    .infos{
                        max-width: 540px;
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        }
                        .PoP{
                            margin: 0 ;
                        }
                }
            }
        }
    }
}

//明信片
.home_letter{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid green;
    .content1{
        border: 1px solid green;
        height: 750px;
        margin: 0 auto;
    }
}

//小遊戲
.home_game{
    height: 600px;
    margin: 0 auto;
    border:1px solid peru;
    background-image: url(../../pic/index/1020_首頁-12_尾.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    z-index: 7;
    .game_table{
        margin:0px auto 0;
        .game_title{
            margin: 0 auto;
            margin-left: 20%;
            max-width: 200px;
            margin-top: 6%;
        }
        .game_title_word{
            margin: 0 auto;
            margin-left: 20%;
            max-width: 200px;
        }
        form{
            .game_title_question01{
                margin: 0 auto;  
                // border: 1px solid red;
                text-align: center;
                padding-top: 57px;
            }
            .game_button{
                text-align: center;
                margin: auto;
                margin-top: 40px;
            }
        }
    }
}
