.cloud{
    animation: move 18s linear infinite;
    position: fixed;
    top: 30vh;
    opacity: 0.9;
    // border: 1px solid red;
}
@keyframes move {
    0%{
        transform: translateX(-300px)
    }
    100%{
        transform: translateX(1800px)
    }
}

.cloud2{
    animation: move2 25s linear infinite;
    position: fixed;
    top: 20vh;
    opacity: 0.9;
    // border: 1px solid black;
}
@keyframes move2 {
    0%{
        transform: translateX(-550px)
    }
    100%{
        transform: translateX(2000px)
    }
}

.homepage_bgcolor{
    width: 100%;
    height: 100%;
    background-color:$bgcColor;
    border: 1px solid red;
    z-index: 1;
    .homepage_bgpic{
        // background-image: url(../../pic/index/1019_BG-11.svg);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        // position: relative;
        // z-index: 7;
        section{
            height: 750px;
        }
        .home{
        margin: 0 auto;
        border:1px solid red;
        background-image: url(../../pic/index/1020_首頁-11_頭.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;
        z-index: 7;
        }
    }
}
//揪團
.home_group{
    width: 100%;
    height: 650px;
    border: 1px solid green;
    .content1{
        border: 1px solid green;
        max-width: 900px;
        width: 100%;
        height: 650px;
        margin: 0 auto;
    }
}

//設備交換
.home_equipment{
    width: 100%;
    height: 650px;
    border: 1px solid green;
    .content2{
        border: 1px solid blue;
        height: 650px;
        margin: 50px auto 0;
        
    }
}



//營地搜尋
.home_camping{
    width: 100%;
    // height: 650px;
    .content3{
        padding: 0 10px;
        // height: 650px;
        margin: 100px auto 0;
        z-index: 7;
        position: relative;
        .home_camping_title{
            // margin-left: 20%;
            padding-left: 15%;
        }
        .home_map{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            .map{
                max-width: 500px;
                width: 100%;
                height: 300px;
            }
            .search_area{
                border: 1px solid yellow;
                margin: 10px auto;
                border-bottom: 2px solid $grayColor2;
                max-width: 350px;
                width: 100%;
                p{
                    margin: 10px 0;
                    line-height: 30px;
                    text-align: center;
                    label{
                        display: inline-block;
                        width: calc(100%-250px);
                    }
                    select{
                        width: 250px;
                        height: 30px;
                    }
                }
            }
            .infos{
                display: flex;
                justify-content: space-evenly;
                text-align: center;
                padding: 10px 0 20px 0;
                border-bottom: 2px solid $grayColor2;
                .NowT{
                    padding:0 12px ;
                    .TtoT{
                        color: $greenColor3;
                    }
                }
                .PoP{
                    vertical-align: center;
                    padding: 20px 8px;
                    color: $greenColor3;
                    p{
                        padding-top: 10px;
                        color: $greenColor1;;
                    }
                }
                .RH{
                    vertical-align: center;
                    padding: 20px 8px ;
                    color: $greenColor3;
                    p{
                        padding-top: 10px;
                        color: $greenColor1;;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .home_camping{
        .content3{
            .home_map{
                .map{
                    max-width: 345px;
                    width: 100%;
                    height: 250px;
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .home_camping{
        .content3{
            .home_map{
                display: block;
                .map{
                    max-width: 540px;
                    width: 100%;
                }
            }
        }
    }
}

//明信片
.home_letter{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid green;
    .content1{
        border: 1px solid green;
        height: 750px;
        margin: 0 auto;
    }
}

//小遊戲
.home_game{
    height: 600px;
    margin: 0 auto;
    border:1px solid peru;
    background-image: url(../../pic/index/1020_首頁-12_尾.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    z-index: 7;
    .game_table{
        margin:0px auto 0;
        .game_title{
            margin: 0 auto;
            margin-left: 20%;
            max-width: 200px;
            margin-top: 6%;
        }
        .game_title_word{
            margin: 0 auto;
            margin-left: 20%;
            max-width: 200px;
        }
        form{
            .game_title_question01{
                margin: 0 auto;  
                // border: 1px solid red;
                text-align: center;
                padding-top: 57px;
            }
            .game_button{
                text-align: center;
                margin: auto;
                margin-top: 40px;
            }
        }
    }
}
