.cloud {
    animation: move 28s linear infinite;
    position: fixed;
    top: 30vh;
    opacity: 0.9;
}
@keyframes move {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(2200px);
    }
}

.cloud2 {
    animation: move2 28s linear infinite;
    position: fixed;
    top: 20vh;
    opacity: 0.9;
}
@keyframes move2 {
    0% {
        transform: translateX(-850px);
    }
    100% {
        transform: translateX(1700px);
    }
}
.cloud3 {
    animation: move3 36s linear infinite;
    position: fixed;
    top: 26vh;
    opacity: 0.8;
}
@keyframes move3 {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(2400px);
    }
}
//首頁形象圖
.homepage_bgcolor {
    width: 100%;
    height: 100%;
    background-color: $bgcColor;
    // border: 1px solid red;
    .homepage_bgpic {
        .home {
            height: 750px;
            .container {
            background: url("../../pic/index/1020_bg_pic.svg") no-repeat;
            background-position: center;
            width: 100%;
            overflow: hidden;
            height: 750px;
            overflow: hidden;
            margin: 0 auto;
            position: relative;
            z-index: 7;
                .scene {
                    .tent_1{
                        background: url("../../pic/index/1020_bg_tent.svg");
                        background-position: center;
                        width: 100%;
                        overflow: hidden;
                        height: 750px;
                        overflow: hidden;
                        margin: 0 auto;
                    }
                }
            }
            .bg_logo {
            width: 250px;
            position: absolute;
            top: 30vh;
            left: 50%;
            transform: translateX(-50%);
            z-index: 8;
            }
        }
    }
}


//揪團

.home_group{
    width: 100%;
    position: relative;
    z-index: 7;
    .content1{
        // overflow: hidden;
        // padding: 25px;
        a{
            text-decoration: none;
        }
        .gMaintop{
            border-bottom: 2px solid #707070;
            margin: 0 10% ;
            padding: 10px;
            .gMainTitle{
                margin-bottom: 10px;
                .img{
                    width: 36px;
                    display: inline-block;
                    vertical-align: middle;
                    img{
                        width: 100%;
                    }
                }
                .gMainTitle{
                    display: inline-block;
                    margin: 0;
                    vertical-align: middle;
                }
            }
            .gMainTopInfo{
                display: flex;
                justify-content: space-between;
                div{
                    width: calc((100% - 60px) / 2); 
                }
                .gMainSerch{
                    text-align: right;
                    .search_input{
                        width: calc(100% - 10px);
                        margin: 0;
                    }
                }
            }
        }
        .gMainBottom{
            text-align: center;
            margin:35px 0;
            
            .gMainGroups{
                width:100%;
                // border: 1px solid red;
                height: 250px;
                margin: 20px 0 40px 0;
                font-size: 0;
                a{
                    background-color: $white;
                    overflow: hidden;
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                    margin-right: 40px;
                    display: inline-block; 
                    width: calc( (100% - 120px) / 4);
                    &:last-child{
                        margin-right: 0px;
                    }    
                    .gMainGroup{
                        
                        .img{
                            width: 100%;
                            height: 180px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                
                
            }
        }
    }
}
@media screen and (max-width: 991px){
    .home_group{
        .content1{
            .gMaintop{
                border-bottom: 2px solid #707070;
                margin: 0 10% ;
                padding: 10px;
                .gMainTopInfo{
                    display: inline-block;
                    justify-content: space-between;
                    div{
                        width: auto;
                        margin-bottom: 10px;
                    }
                }
            }
            .gMainBottom{        
                .gMainGroups{
                    a{
                        width: calc( (100% - 80px) / 3);
                        &:nth-child(3){
                            margin-right: 0px;
                        }
                        &:last-child{
                            display: none;
                            margin-right: 0px;
                        }    
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width: 767px){
    .home_group{
        .content1{
            .gMainTop{
                margin: 0;
                .input{
                    display: block;
                }
            }
            .gMainBottom{        
                .gMainGroups{
                    margin: 10px 0;
                    a{
                        width: calc( (100% - 40px) / 2);
                        &:nth-child(2){
                            margin-right: 0px;
                        }
                        &:last-child, &:nth-child(3){
                            display: none;
                            margin-right: 0px;
                        }    
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .home_group{
        .content1{
            .gMaintop{
                padding: 0;
                margin: 0;
            }
            .gMainBottom{        
                .gMainGroups{
                    a{
                        margin-right:20px;
                        width: calc( (100% - 20px) / 2);
                        .gMainGroup{
                            .img{
                                height: 150px;
                            }
                        }
                           
                    }
                }
            }
        }
    }
}

//設備交換
.home_equipment {
  width: 100%;
  position: relative;
  z-index: 7;
  .content2 {
    // border: 1px solid blue;
    margin: 0px auto;
    .eTop{
        border-bottom: 2px solid #707070;
        margin: 0 10% ;
        padding: 10px;
    }
    .desc_search_block {
      display: flex;
      justify-content: space-between;
      .home_equ_desc {
        width: calc((100% - 60px) / 2);
      }
      .eMainSerch{
        text-align: right;
        width: calc((100% - 60px) / 2);

        .search_input{
            width: calc(100% - 10px);
            margin: 0;
        }
      }
    }
    .home_equ_step {
      margin: 20px 0 20px 0;
      display: flex;
      justify-content: center;
      .equ_step01 {
        .equ_step01_num {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          color: $white;
          background-color: $yellowColor1;
          p {
            font-size: 36px;
            text-align: center;
            padding: 10px;
          }
        }
        .equ_step01_desc {
          p {
            font-size: 18px;
            margin-top: 30px;
          }
        }
        .equ_step_line {
          border: 1px solid $greenColor1;
          width: 120px;
          margin: 0 30px 0 30px;
        }
      }
    }
  }
}

.equ_step01_num,
.equ_step_line {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .home_equipment {
    .wrap {
      .content2 {
        .desc_search_block{
            display: inline-block;
            div{
                width: auto;
                margin-bottom: 10px; 
            }
        }
        .home_equ_step {
          .equ_step01 {
            .equ_step_line {
              width: 54px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home_equipment {
    .wrap {
      .content2 {
        .desc_search_block{
            display: inline-block;
            div{
                width: auto;
                margin-bottom: 10px; 
            }
        }
        .home_equ_step {
          .equ_step01 {
            .equ_step01_num{
                width: 50px;
                height: 50px;
            }
            .equ_step_line {
              width: 50px;
              margin: 0 15px 0 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .home_equipment {
    .wrap {
      .content2 {
          .eTop{
            margin: 0;
              .desc_search_block{
                  display: inline-block;
                  div{
                      width: auto;
                      margin-bottom: 10px; 
                  }
              }
          }
        .home_equ_step {
          .equ_step01 {
            margin-right: 40px;
            .equ_step_line {
              display: none;
            }
            .equ_step01_desc {
              p {
                width: 36px;
                margin: 20px auto 0;
              }
            }
          }
          .equ_step01:nth-child(4) {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

#equ_leftBtn {
  margin-right: 15px;
}

.home_equ_pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_equ_pic_title {
  margin-top: 20px;
  text-align: center;
}

.allequ {
  font-size: 0;
  position: relative;
}

.home_equ_block {
  width: 1025px;
  height: 320px;
  overflow: hidden;
}

.euq_min_list {
  background-color: $white;
  text-align: center;
  margin: 30px 15px 0 0;
  width: 190px;
  height: auto;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
}

.home_equ_img > img {
  width: 100%;
}

.home_equ_text {
  padding: 15px;
  margin-top: 15px;
}

.home_equ_text > a {
  text-decoration: none;
}

.home_equ_btn {
  margin-top: 30px;
  text-align: center;
}

.home_equ_background {
  margin-top: 30px;
}

//營地搜尋
.home_camping {
  width: 100%;
  // height: 650px;
  .content3 {
    padding: 0 10px;
    // height: 650px;
    margin: 100px auto 0;
    z-index: 7;
    position: relative;
    .home_camping_title {
      padding-left: 10%;
      margin: 30px auto;
    }
    .home_map {
      margin: 0 auto;
      .home_weather_layout {
        display: flex;
        justify-content: center;
        .search_area {
          border-bottom: none;
        }
        .infos {
          width: 50%;
          border-bottom: none;
          display: inline-flex;
          justify-content: flex-start;
        }
        .PoP {
          margin: 0 20px;
        }
      }
    }
    .home_map_layout {
      margin: 0 auto;
      max-width: 1000px;
      width: 100%;
      height: 400px;
      border-radius: 8px;
      overflow: hidden;
      .map {
        background: #333;
        display: block;
        max-width: 1000px;
        width: 100%;
        height: 400px;
        margin: 0;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  //搜尋營區
  .home_camping {
    .content3 {
      .home_map {
        display: block;
        .home_weather_layout {
          display: block;
          .infos {
            max-width: 540px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
          }
          .PoP {
            margin: 0;
          }
        }
      }
    }
  }
}

//明信片
.postcard_Front{
    // border: 2px solid rebeccapurple;
    position: relative;
    z-index: 7;
    width: 100%;
    height: 680px;
    margin: 100px auto 0;
    .postcard_title{
        padding-left: 10%;
    }
    .postcard_frontPage{
        position: relative;
        width: 860px;
        padding-top: 0.5%;
        margin:  0 auto;
        height: 78%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../pic/postcardMaterial/paper/paper1.png");
        border-radius: 5px;
        margin-top: 2%;
        .postcard_frontLogo{
            position: absolute;
            width: 110px;
            bottom: 0%;
            left: 45%;

            border-radius: 50%;
            background-image: url("../../pic/postcardMaterial/paper/paper1.png");
            padding: 15px 25px 15px 25px;
        }

        .FrontPutPhoto{
            width: 96%;

            height: 85%;
            margin: 0 auto;
            margin-top: 1%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../pic/postcardMaterial/presetPhoto/postcardPhoto3.jpg");
        }
    }
    .postcardLink{
        margin: 0 auto;
        text-align: center;
        margin-top: 3%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
        .postcard_Front{
            width: 100%;
            margin: 100px auto 0;
            height: 680px;
            .postcard_title{
                padding-left: 13%;
            }
            .postcard_frontPage{
                position: relative;
                width: 760px;
                padding-top: 0.5%;
                margin:  0 auto;
                height: 78%;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url("../../pic/postcardMaterial/paper/paper1.png");
                border-radius: 5px;
                margin-top: 2%;
                .postcard_frontLogo{
                    position: absolute;
                    width: 110px;
                    bottom: 0%;
                    left: 45%;
                    border-radius: 50%;
                    background-image: url("../../pic/postcardMaterial/paper/paper1.png");
                    padding: 15px 25px 15px 25px;
                }
                .FrontPutPhoto{
                    width: 96%;
                    height: 85%;
                    margin: 0 auto;
                    margin-top: 1%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("../pic/postcardMaterial/presetPhoto/postcardPhoto3.jpg");
                }
            }
            .postcardLink{
                margin: 0 auto;
                text-align: center;
                margin-top: 3%;
            }
        }
    }
@media screen and (min-width: 768px) and (max-width: 991px){
        .postcard_Front{
            width: 100%;
            height: 680px;
            margin: 100px auto 0;
            .postcard_title{
                padding-left: 10%;
            }
            .postcard_frontPage{
                position: relative;
                width: 700px;
                padding-top: 0.5%;
                margin:  0 auto;
                height: 70%;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url("../../pic/postcardMaterial/paper/paper1.png");
                border-radius: 5px;
                margin-top: 2%;
                .postcard_frontLogo{
                    position: absolute;
                    width: 110px;
                    bottom: 0%;
                    left: 43%;
                    border-radius: 50%;
                    background-image: url("../../pic/postcardMaterial/paper/paper1.png");
                    padding: 15px 25px 15px 25px;
                }
        
                .FrontPutPhoto{
                    width: 96%;
        
                    height: 85%;
                    margin: 0 auto;
                    margin-top: 1%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("../pic/postcardMaterial/presetPhoto/postcardPhoto3.jpg");
                }
            }
            .postcardLink{
                margin: 0 auto;
                text-align: center;
                margin-top: 3%;
            }
        }
    }
@media screen and (max-width: 767px){
        .postcard_Front{
            width: 100%;
            margin: 100px auto 0;
            height: 680px;
            .postcard_title{
                padding-left: 10%;
            }
            .postcard_frontPage{
                position: relative;
                width: 540px;
                padding-top: 0.5%;
                margin:  0 auto;
                height: 60%;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url("../../pic/postcardMaterial/paper/paper1.png");
                border-radius: 5px;
                margin-top: 2%;
                margin-bottom: 5%;
                .postcard_frontLogo{
                    position: absolute;
                    width: 90px;
                    bottom: 0%;
                    left: 43%;
                    border-radius: 50%;
                    background-image: url("../../pic/postcardMaterial/paper/paper1.png");
                    padding: 15px 25px 15px 25px;
                }
                .FrontPutPhoto{
                    width: 96%;
                    height: 85%;
                    margin: 0 auto;
                    margin-top: 1%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("../pic/postcardMaterial/presetPhoto/postcardPhoto3.jpg");
                }
            }
            .postcardLink{
                margin: 0 auto;
                text-align: center;
                margin-top: 10%;
            }
        }
    }
@media screen and (max-width: 576px){
    .wrap{
        width: 100%;
        }
        .postcard_Front{
            width: 100%;
            height: 100%;
            margin: 100px auto 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .postcard_title{
                padding-left: 10%;
                padding-right: 12px;
            }
            .postcard_frontPage{
                width: 95%;
                height: 300px;
                .postcard_frontLogo{
                    position: absolute;
                    width: 70px;
                    bottom: 0%;
                    left: 41%;
                    border-radius: 50%;
                    background-image: url("../../pic/postcardMaterial/paper/paper1.png");
                    padding: 15px 25px 15px 25px;
                }
                .FrontPutPhoto{
                    width: 96%;
                    height: 85%;
                    margin: 0 auto;
                    margin-top: 1%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("../pic/postcardMaterial/presetPhoto/postcardPhoto3.jpg");
                }
            }
            .postcardLink{
                margin: 0 auto;
                margin-top: 5%;
            }
        }
    }

//小遊戲
.home_game {
  height: 600px;
  margin: 80px auto 0;
//   border: 1px solid peru;
  background-image: url(../../pic/index/1020_bg_footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  z-index: 7;
  .game_table {
    margin: 0px auto 0;
    .game_title {
        padding-left: 10%;
    width: 100%;
    }
    form {
      .game_title_question01 {
        margin: 0 auto;
        text-align: center;
        padding-top: 57px;
      }
      .game_button {
        text-align: center;
        margin: auto;
        margin-top: 40px;
      }
    }
  }
}